body {
    --orange: #FC5000;
    --blue: #008DFF;
    --dark: #232429;
    --gradient: linear-gradient(.25turn, var(--blue) 50%, var(--orange) 50%);
    --gradient-2: linear-gradient(to right, var(--blue) 0%, var(--orange) 51%, var(--blue) 100%)
}

@media only screen and (max-width: 992px) {
    .banner {
        margin-top: 2rem;
    }
}

section {
    padding: 60px 0;
    overflow: hidden;
}