body {
    --orange: #FC5000;
    --blue: #008DFF;
    --dark: #232429;
    --gradient: linear-gradient(.25turn, var(--blue) 50%, var(--orange) 50%);
}

#first-section,
#choose-animal {
    background-color: var(--dark);
    color: white;
}

.span1 {
    font-weight: bold;
    border-bottom: var(--orange) 2px solid;
}

.span2 {
    border-bottom: var(--blue) 2px solid;
    font-weight: bold;
}

#first-section {
    padding: 120px 0 60px 0;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-15px);
    }

    100% {
        transform: translatey(0px);
    }
}


.btn-grad {
    background-image: linear-gradient(to right, var(--blue) 0%, var(--orange) 51%, var(--blue) 100%);
    max-width: 2050px;
    width: auto;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.banner {
    max-width: 500px;
    height: auto;
    margin-bottom: 3rem;
    animation: float 6s ease-in-out infinite;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.icon {
    /* color: var(--blue); */
    line-height: 5rem;
}

.feature {
    height: 266px;
}

.feature {
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
    transition: ease 300ms;
}

/* .feature-content h4 {
    color: var(--blue);
} */

/* WHY IS IT THAT FEATURE 4 IS AFFECTING THE OTHERS?? */
.feature:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: -10px;
}

.feature:hover h4 {
    color: var(--blue);
}

.feature:hover .icon {
    color: var(--orange);
}

/* LET's Get Started */
.box {
    max-height: 25rem;
    max-width: auto;
}

.box_animal {
    max-width: auto;
    max-height: 25rem;
}

#dogBox {
    border: 2px solid var(--orange);
}

#dogBox:hover {
    background: var(--orange);
}

#catBox {
    border: 2px solid var(--blue);
}

#catBox:hover {
    background: var(--blue);
}

.box:hover img {
    filter: invert(8%) sepia(4%) saturate(2237%) hue-rotate(193deg) brightness(95%) contrast(85%);
}

/* LET's Get Started END */