h4 {
    white-space: nowrap;
}

.card {
    color: white;
    background-color: var(--dark);
    width: auto;
    min-height: 25rem;
}

.style .card-title {
    color: var(--orange)
}

.style .btn-outline {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid var(--orange);
    background-color: transparent;
    color: var(--orange);
    transition: ease-in-out .15s;
}

.style .btn-outline:hover {
    background-color: var(--orange);
    color: white;
}


/* question mark image START*/
@media only screen and (max-width: 900px) {

    .question-img,
    .question-img>img {
        max-width: 150px !important;
    }

}


.question-img,
.question-img>img {
    display: inline-block;
    background: none;
    border: none;
    max-width: 200px;
    padding: 0 0 0 0;
}

.question-img>img {
    transition: transform .2s;
}

.button-color {
    /* border: 2px solid var(--orange); */
}

.button-color img {
    border: 2px solid white;
    padding-right: 5px;
}

.question-img img:hover {
    transform: scale(1.1);
    border: 2px solid var(--orange);
}

.question-img:focus {
    outline: none;
}

/* question mark image END*/
/* card stuff START */
.col-card {
    perspective: 50rem;
    position: relative;
    backface-visibility: hidden;
}

/* gelatin animation used for range selection */
.gelatin {
    animation: gelatin 1s infinite;
}

@keyframes gelatin {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.range-img {
    border: 2px solid var(--orange);
}

/* range stuff END */
.title {
    color: var(--blue);
}

.border {
    border: 2px solid var(--orange) !important;
}


.range {
    margin-top: 1rem !important;
    width: 50% !important;
}

.range-image {
    max-width: 200px;
}