.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto;
  }
}

html {
  scroll-behavior: smooth
}

* {
  scroll-margin-top: 56px;
}

.page {
  min-height: 65vh;
}